PGHOST=db
PGPORT=5432
PGDATABASE=soundtracker
PGUSER=soundtracker
PGPASSWORD=soundtracker
JWT_SECRET=vervang-dit-met-een-willekeurige-string-van-32-tekens
YOUTUBE_API_KEY=vervang-dit-met-jouw-youtube-api-key
